.article {
  display       : flex;
  flex-direction: column;
  gap           : 0.65ch;
  outline       : var(--focus-outline-hidden);
  transition    : outline-offset 200ms, outline 200ms, outline-color 100ms 100ms;
  position      : relative;

  >* {
    margin: 0;
  }



  &__thumbnail {
    margin-block-end: var(--space);
    position        : relative;

    img {
      @include shadow('--shadow', 5, 2, rgb(0 0 0 / 5%));
      border-radius: var(--radius-5);
      box-shadow   : var(--shadow);
      transition   : box-shadow 200ms;
    }
  }

  &:focus-within .article__thumbnail img {
    box-shadow: 0 0 0 5px hsl(var(--secondary-500)), var(--shadow);
  }

  &__type {
    backdrop-filter: blur(5px);
    background-color: hsl(var(--d-default)/75%);
    border-radius: var(--radius-3);
    color: hsl(var(--l-contrast));
    font-family: var(--font-sans);
    font-feature-settings: 'opsz' 14;
    font-weight: 300;
    left: var(--space-xxs);
    padding: var(--space-xxs) var(--space-xs);
    position: absolute;
    text-transform: uppercase;
    top: var(--space-xxs);
  }

  &__title {
    font-family            : var(--font-sans);
    font-size              : var(--type-size-5);
    font-weight            : 700;
    font-feature-settings  : var(--ffs-heading);
    line-height            : 1;
    margin                 : 0;

    a {
      display        : block;
      text-decoration: none !important;

      &::before {
        content : '';
        z-index : 9;
        position: absolute;
        inset   : 0;
      }

      &:focus-visible {
        outline         : none;
        background-color: transparent;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.collection--related {
  .article {
    display           : grid;
    grid-row          : span 4;
    grid-template-rows: subgrid;

    .article__thumbnail img {
      height      : auto;
      width       : 100%;
      aspect-ratio: 16/9;
      object-fit  : cover;
    }
  }

  &.vertical .article .article__thumbnail img {
    aspect-ratio: 9/16;
  }

  &.square .article .article__thumbnail img {
    aspect-ratio: 1/1;
  }
}