.button {
  align-items            : center;
  background             : transparent;
  border                 : 1px solid hsl(var(--border-color));
  color                  : hsl(var(--primary-900));
  cursor                 : pointer;
  display                : flex;
  font-family            : var(--font-ui);
  font-size              : 1em;
  font-weight            : 600;
  gap                    : 1ch;
  justify-content        : center;
  outline                : 2px solid hsl(var(--border-color)/0%);
  padding-block          : 1ch;
  padding-inline         : 1.5ch;
  text-transform         : uppercase;
  transition             : outline-offset 200ms, outline 200ms, outline-color 100ms 100ms, color 200ms;

  &.inline {
    display: inline-flex
  }

  &:hover {
    background-color: hsl(var(--border-color) / 15%);
  }

  &:focus-visible {
    background-color: hsl(var(--secondary-500));
    border-color    : hsl(var(--secondary-500));
    color           : hsl(var(--l-secondary-100));
    outline         : 2px solid hsl(var(--secondary-500));
    outline-offset  : .5ch;
    transition      : outline-offset 300ms, outline 200ms, outline-color 200ms, background-color 200ms;
  }

  &.primary {
    background-color: hsl(var(--primary-500) / 25%);
    border-color    : hsl(var(--primary-500) / 25%);
    color           : hsl(var(--primary-900));

    &:hover {
      color           : hsl(var(--primary-300));
      background-color: hsl(var(--primary-700));
    }
  }

  .feather {
    stroke-width: 1px;
  }
}

.button-list {
  display        : flex;
  flex-wrap      : wrap;
  gap            : 1ch;
  margin         : 0;
  padding        : 0;
  list-style-type: none;
  justify-content: center;
}

.skip-link {
  @extend .button;
  @extend .primary;

  background-color: hsl(var(--primary-500));
  left            : 50%;
  margin-inline   : auto;
  position        : absolute;
  top             : var(--space);
  translate       : -50% -150%;
  z-index         : 9999;
  transition      : outline-offset 200ms,outline 200ms,outline-color 100ms 100ms,color 200ms, translate 200ms !important;

  &:focus-visible {
    translate: -50%;
  }

  @supports (backdrop-filter: blur(5px)) {
    backdrop-filter : blur(var(--space));
    background-color: hsl(var(--primary-500) / 25%);
  }
}