@import "code";

.code-sample {
  grid-column  : 1/-1;
  border: var(--border);
  width        : 100vw;
  margin-inline: 0;
  margin-block : var(--space-xxl);
  position     : relative;

  &>pre {
    display           : block;
    //background-color: hsl(var(--l-primary-700));
    border: none;
    color             : hsl(var(--primary-700));
    padding-block     : 3ch;
    padding-inline    : var(--space);
    margin-inline     : auto;
    margin-block      : 0 !important;
    width             : min(var(--content-width), 90%);

    &:has(+ .code-result),
    &:has(+ pre) {
      border-block-end: var(--border);
      border-block-end-style: dashed;
    }

    &+pre {
      border-block-start: none;
    }
  }

  /* &:has([class^=language]) {
    &::before {
      background-color       : hsl(var(--primary-300));
      color                  : hsl(var(--primary-700));
      content                : var(--pre-language, "");
      font-family            : var(--font-sans);
      font-weight            : 600;
      left                   : calc((100vw - var(--content-width)) / 2);
      padding                : var(--space-xxs) var(--space-s);
      position               : absolute;
      text-transform         : uppercase;
      top                    : 0;
      transform              : translateY(calc(-100% + 1px));
      z-index                : 2;
      width                  : fit-content;
      border                 : var(--border);
      border-block-end       : none;
    }

    &:has(.language-css) {
      --pre-language: "CSS"
    }

    &:has(.language-html) {
      --pre-language: "HTML"
    }

    &:has(.language-js),
    &:has(.language-javascript) {
      --pre-language: "JavaScript"
    }

    &:has(.language-json) {
      --pre-language: "JSON"
    }

    &:has(.language-sh),
    &:has(.language-bash) {
      --pre-language: "Shell"
    }
  } */
}

.code-result {
  border          : none;
  padding-inline  : calc((100vw - var(--content-width))/2);
  width           : 100%;
  display: flow-root;
  background-color: inherit;

  @at-root .code-sample & {
    border-block-start: none;
  }

  iframe {
    width           : 100%;
    min-height      : 50vh;
    border          : none;
    background-color: hsl(var(--l-contrast));
  }

  &__embed {
    .callout {
      width         : 100%;
      margin        : 0;
      padding-inline: var(--space-xxl);
    }
  }
}

.bordered-box p,
.bordered.box p,
.code-notes {
  width         : min(var(--content-width), 100%);
  margin        : auto;
  padding-inline: var(--space);
}

.bordered-box,
.bordered.box {
  grid-column: 1/-1;
}

.diagram-pointer {
  position : relative;
  --content: attr(data-label);

  all            : unset;
  position       : relative;
  cursor         : pointer;
  border-radius  : var(--ideal-radius);
  transition     : box-shadow 200ms, background 200ms, text-decoration 200ms;
  padding-inline : 0.5ch;
  margin-inline  : -0.5ch;
  text-decoration: 2px underline hsl(var(--secondary-500));
  anchor-name    : --diagram-pointer;

  &:focus-visible {
    box-shadow           : 0 0 0 5px hsl(var(--secondary-500));
    text-decoration-color: hsl(var(--secondary-500) / 0%);
  }

  &:hover {
    background-color     : hsl(var(--secondary-500) / 25%);
    text-decoration-color: hsl(var(--secondary-500) / 0%);
  }

  &::after {
    content: none;
  }
}

[data-label] {
  @extend .diagram-pointer;
}

.diagram-description {
  border-radius   : var(--ideal-radius);
  border          : var(--border);
  background-color: hsl(var(--bg-primary));
  padding         : var(--space-xs) var(--space);
  font-size       : var(--type-size-6);
  white-space     : collapse;
  position-anchor : --diagram-pointer;
  top             : anchor(--diagram-pointer bottom);

  @include box-shadow(10, 2, hsl(var(--border-color) / 3%));
}

.code-result__embed {
  display: grid;
}