@use '../base/mixins'as mixins;

.downloadable {
  display: inline-grid;

  .cover,
  &::before,
  &::after {
    grid-row   : 1/2;
    grid-column: 1/2;
  }

  &::before {
    align-content : center;
    aspect-ratio  : 1/1;
    border        : 2px solid white;
    border-radius : 1000px;
    content       : url("https://antaresph.dev/assets/images/download.svg");
    display       : flex;
    height        : 3ch;
    opacity       : 0;
    place-self    : center;
    pointer-events: none;
    transition    : opacity 200ms;
    width         : auto;
    z-index       : 9;
  }

  &::after {
    content         : '';
    z-index         : 2;
    background-color: hsl(var(--d-contrast) / 25%);
    opacity         : 0;
    border-radius   : var(--ideal-radius);
    transition      : opacity 200ms;
  }

  .cover {
    @include shadow('--shadow', 5, 2, rgb(0 0 0 / 5%));
    border-radius: var(--ideal-radius);
    box-shadow   : var(--shadow);
    height       : 20ch;
    transition   : filter 200ms, box-shadow 200ms;
    width        : auto;
  }

  &:focus-visible,
  &:hover {
    outline: none;

    &::after,
    &::before {
      opacity: 1;
    }
  }

  &:focus-visible {
    .cover {
      @include shadow('--shadow', 10, 2, rgb(0 0 0 / 5%), 5px);
      box-shadow: 0 0 0 5px hsl(var(--secondary-500)), var(--shadow);
    }
  }

  .label {
    font-weight            : 700;
    margin-block-start     : var(--space-xs);
  }
}