.navigation {
  align-items     : center;
  border-block-end: 1px solid hsl(var(--border-color));
  container-name  : navigation;
  container-type  : inline-size;
  display         : flex;
  flex-wrap       : wrap;
  gap             : var(--space);
  overflow        : visible;
  padding         : var(--space);

  .logo {
    @container navigation (width < 45em) {
      &__wordmark {
        @include visually-hidden;
      }
    }
  }

  &:is(dialog),
  &[popover] {
    @include box-shadow(10, 2, rgb(0 0 0 / 3%));
    background-color: hsl(var(--primary-300));
    border          : none;
    border          : var(--border);
    margin          : 0;
    padding         : 0;

    &::backdrop {
      background     : hsl(var(--d-primary-100)/70%);
      backdrop-filter: blur(2px);
    }

    &:is(dialog)[open],
    &:is([popover]):popover-open {
      inset          : 0;
      justify-content: center;
      margin-block   : 4rem;
      margin-inline  : auto;
      position       : fixed !important;
      width          : min(clamp(var(--content-width), 95vw, var(--page-width)), 95%);
    }

    &:is(dialog):not([open]),
    &:is([popover]):not(:popover-open) {
      display: none;
    }

    .navigation__list {
      justify-content: center;
    }
  }

  &__start,
  &__end {
    display  : flex;
    flex-grow: 1;
  }

  &__end {
    justify-content: end;
  }

  &__list {
    display    : flex;
    align-items: center;
    flex-wrap  : wrap;
    margin     : 0;

    &-item,
    li {
      position: relative;
    }
  }

  &__label {
    padding-block : 1ch;
    padding-inline: 1.5ch;
    font-family   : var(--font-ui);

    @container navigation (width < 40em) {
      display: none;
    }
  }

  &__link {
      align-items: center;
      background: rgba(0, 0, 0, 0);
      border: none;
      cursor: pointer;
      display: flex;
      font-family: var(--font-ui);
      font-feature-settings: var(--ffs-body);
      font-size: var(--type-size-6);
      font-weight: 300;
      gap: var(--space-xs);
      outline: 2px solid rgba(0, 0, 0, 0);
      padding-block: 1ch;
      padding-inline: 1.5ch;
      text-transform: lowercase;
      transition: box-shadow 200ms, outline 200ms, outline-offset 300ms, background-color 200ms, color 200ms;

    &:hover {
      background-color: hsl(var(--border-color) / 15%)
    }

    &:focus-visible {
      background-color: hsl(var(--secondary-500));
      border-color    : hsl(var(--secondary-500));
      color           : hsl(var(--l-secondary-100));
      outline         : 2px solid hsl(var(--secondary-500));
      outline-offset  : .5ch;
    }

    .feather {
      width       : 1.25em;
      stroke-width: 1px;
    }

    &.icon-only {
      gap    : 0;
      padding: 1ch;
    }

    &[data-colorscheme] {
      border-block      : var(--border);
      border-block-color: transparent;
      border-block-width: var(--radius-1);
    }

    @at-root body:not(.dark):not(.light) &[data-colorscheme='system'],
    .system &[data-colorscheme='system'],
    .light &[data-colorscheme='light'],
    .dark &[data-colorscheme='dark'] {
      border-bottom      : var(--border);
      border-bottom-width: var(--radius-1);
      background-color   : hsl(var(--border-color) / 10%);
      transition         : box-shadow 200ms, outline 200ms, outline-offset 300ms, background-color 200ms, color 200ms, border-color 200ms;

      &:focus-visible {
        background-color      : hsl(var(--secondary-500));
        border-block-end-color: hsl(var(--secondary-700));
      }
    }

    @container navigation (width < 70em) {
      .label {
        @include visually-hidden();
      }
    }
  }

  .logo__wordmark {
    color: hsl(var(--primary-700))
  }
}

.navigation {
  position: sticky;
  top     : 0;
  z-index : 999;

  &::before {
    content         : '';
    backdrop-filter : blur(var(--space));
    background-color: hsl(var(--primary-300) / 75%);
    inset           : 0;
    position        : absolute;
    z-index         : -1;
  }
}