<!-- Primary Meta Tags -->
<meta name="title" content="{{ title if title else site.title }}">
<meta name="description" content="{{ description if description else site.description }}">
<meta name="generator" content="{{ eleventy.generator }}">

{% set domain = site.domains | selectattr('isPreferred') | first %}
<link rel="canonical" href="https://{{ domain.domain }}{{ page.url }}">

<link rel="manifest" href="/manifest.webmanifest">
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

{% set twitter_image = site.seo.twitter.src %}
{% set og_image = site.seo.og.src %}

{% if cover or useCoverForSeo %}
  {% set twitter_image %}{{ site.api.images }}/tr:w-0.5,f-jpeg/{{ postType }}/{{ cover.folder }}/{{ cover.filename }}{% endset %}
  {% set og_image %}{{ site.api.images }}/tr:w-0.5,f-jpeg/{{ postType }}/{{ cover.folder }}/{{ cover.filename }}{% endset %}
{% endif %}

{% if seo %}
  {% set twitter_image = seo.twitter %}
  {% set og_image = seo.og %}
{% endif %}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://{{ domain.domain }}{{ page.url if page.url }}">
<meta property="og:title" content="{{ title if title else site.title }}">
<meta property="og:description" content="{{ description if description else site.description }}">
<meta property="og:image" content="{{ og_image }}">
{% if video %}
{% set folder = video.folder if video.folder else cover.folder %}
<meta property="og:video" content="{{ site.api.images }}/tr:f-webm/videos/{{ folder }}/{{ video.filename }}">  
<meta property="og:video:secure_url" content="https://{{ domain.domain }}/player/{{ title | slugify }}/">  
<meta property="og:video:type" content="video/mp4">
<meta property="og:video:width" content="{{ 1080 if type === 'short' else 1920 }}">
<meta property="og:video:height" content="{{ 1920 if type === 'short' else 1080 }}">
{% endif %}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://{{ domain.domain }}{{ page.url if page.url }}">
<meta property="twitter:title" content="{{ title if title else site.title }}">
<meta property="twitter:description" content="{{ description if description else site.description }}">
<meta property="twitter:image" content="{{ twitter_image }}">
{% if video %}
<meta name="twitter:player" content="https://{{ domain.domain }}/player/{{ title | slugify }}/" />
<meta name="twitter:player:width" content="{{ 1080 if type === 'short' else 1920 }}" />
<meta name="twitter:player:height" content="{{ 1920 if type === 'short' else 1080 }}" />
{% endif %}

{# Fediverse #}
{% set authorUsername = author if author else "teacherbuknoy" %}
<meta name="fediverse:creator" content="{{ authors[authorUsername].fediverse }}">

<!-- Feeds -->
<link rel="alternate" type="application/rss+xml" title="Articles by Francis Rubio" href="/feeds.xml">

<!-- Webmentions -->
<link rel="webmention" href="https://webmention.io/antaresph.dev/webmention" />


<script type="module">
  if (!("anchorName" in document.documentElement.style)) {
    import("https://unpkg.com/@oddbird/css-anchor-positioning");
  }
</script>