<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="stylesheet" href="/assets/styles/styles.css">
{% for style in stylesheets %}
<link rel="stylesheet" href="/assets/styles/{{ style }}">
{% endfor %}
{% for style in layoutStylesheets %}
<link rel="stylesheet" href="/assets/styles/{{ style }}">
{% endfor %}