{% macro icon(name, class) %}
  <svg class="feather {{ class }}" aria-hidden="true" width="24" height="24">
    <use href="/assets/images/feather-sprite.svg#{{ name }}"/>
  </svg>
{% endmacro %}

{% macro logo(class) %}
  <img class="{{ class }}" src="/assets/images/logo.svg" alt="Antares Programming logo" width="64" height="64">
{% endmacro %}