.collection {
  margin    : 0;
  padding   : 0;
  list-style: none;

  &:empty {
    display        : flex;
    align-items    : center;
    justify-content: center;

    &::before {
      color         : hsl(var(--fg-subtle));
      content       : attr(data-empty);
      font-family   : var(--font-ui);
      font-size     : var(--type-size-5);
      mix-blend-mode: multiply;
      text-align    : center;
    }
  }

  &--grid {
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(min(25ch, 100%), 1fr));
    gap                  : var(--space-xl);

    /* @at-root .section--wide & {
      grid-template-columns: repeat(auto-fit, minmax(min(45ch, 100%), 1fr));
    } */
  }

  &--scroller {
    display         : flex;
    gap             : var(--space-xl);
    overflow        : auto;
    scroll-behavior : smooth;
    scroll-snap-type: x mandatory;
    scrollbar-color : transparent transparent;

    &:hover {
      scrollbar-color: auto;
    }

    >* {
      flex             : 0 0 25ch;
      scroll-snap-stop : normal;
      scroll-snap-align: center;
    }
  }

  &--related {
    display              : grid;
    gap                  : var(--space);
    grid-auto-rows       : min-content min-content auto auto;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
    margin-inline        : auto;
    max-width            : var(--page-width);
    padding-inline       : var(--space);
    width                : 100%;

    li {
      display: contents;
    }
  }
}