.footer {
  display: flex;
  flex-direction: column;
  border-block-start: var(--border);
  font-family: var(--font-ui);
  margin-block-start: var(--space-xxl);

  &__header {
    display: flex;
    justify-content: space-between;
    padding: var(--space);
    border-block-end: var(--border);

    p {
      margin: 0;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(55ch, 100%), 1fr));

    & > section {
      flex: 1;
      padding: var(--space);
      flex-basis: calc(var(--content-width) / 2);
    }

    .disclaimer {
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
      gap: 1lh;
      max-width: 70vw;
      text-wrap: balance;
      text-wrap: pretty;

      p {
        margin: 0;
        font-family: var(--font-ui);
        font-size: clamp(2rem,3vw + 2vh + 1rem,5rem);
        letter-spacing: -0.06em;
        line-height: 1;
        font-weight: bold;
        color: hsl(var(--fg-contrast));
        font-feature-settings: normal !important;

        &.manifesto {
          font-size: 1.2em;

          a {
            font-family: var(--font-ui);
            text-decoration-color: hsl(var(--primary-500));
          }
        }
      }

      small {
        font-size: 1em;
      }

      &:has(small) {
        font-size: 1rem;
        line-height: 1.1;
      }
    }
  }
}