.section {
  display              : grid;
  grid-template-columns: 1fr minmax(min(var(--page-width), 100%), 1fr) 1fr;
  padding              : var(--space);
  row-gap              : var(--space);

  &--wide {
    grid-template-columns: 1fr minmax(min(calc(var(--page-width) * 1.5), 100%), 1fr) 1fr;

    .section {
      &__heading {
        font-size              : clamp(var(--type-size-3), 10vw, var(--type-size-1));
        text-transform         : none;
        font-weight            : 300;
      }
    }
  }

  &>* {
    grid-column: 2/3;
  }

  &__heading {
    color: hsl(var(--primary-700));
    flex-basis: 15ch;
    flex: 1;
    font-family: var(--font-ui);
    font-size: var(--type-size-4);
    font-variation-settings: 'opsz' 14;
    font-weight: 600;
    text-transform: lowercase;

    &::after {
      content: '.';
    }
  }

  &__header {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    flex-wrap       : wrap;
    gap             : var(--space);
    margin-block-end: var(--space);
  }

  .collection--scroller {
    grid-column   : 1/-1;
    padding-inline: calc((min(var(--page-width), 100%) / 2));
    margin-inline : calc(-1 * var(--space));
  }
}

.content-wrapper {
  padding: var(--space);
  width  : min(var(--page-width), 100%);
}