.section {
  display              : grid;
  grid-template-columns: 1fr minmax(min(var(--page-width), 100%), 1fr) 1fr;
  padding              : var(--space);
  gap                  : var(--space);

  &--wide {
    grid-template-columns: 1fr minmax(min(calc(var(--page-width) * 1.5), 100%), 1fr) 1fr;

    .section {
      &__heading {
        font-size              : var(--type-size-1);
        text-transform         : none;
        font-weight            : normal;
        font-variation-settings: 'wght' 300;
      }
    }
  }

  &>* {
    grid-column: 2/3;
  }

  &__heading {
    font-family            : var(--font-ui);
    color                  : hsl(var(--primary-700));
    text-transform         : uppercase;
    font-weight            : bold;
    font-variation-settings: "wght"600;
    font-size              : var(--type-size);
  }

  &__header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
  }
}