.entry--video {
  display           : grid;
  grid-template-rows: 100vh;
  height            : fit-content;
  padding           : 0;
  position          : relative;

  .video-player {
    background-color: black;
    grid-column     : 1/2;
    grid-row        : 1/2;
    height          : 100%;
    width           : 100%;

    &:not(:hover, :focus, :focus-visible)+.entry__meta {
      opacity       : 0;
      pointer-events: none;
    }

    @media (width > 75ch) {
      position: sticky;
      top     : 0;
    }
  }

  iframe {
    background: black;
  }

  .entry__meta {
    background-image     : linear-gradient(to bottom, black 25%, transparent);
    grid-column          : 1/2;
    grid-row             : 1/2;
    padding              : 1rem;
    place-self           : start;
    display              : grid;
    grid-template-columns: auto 1fr;
    column-gap           : var(--space);
    transition           : opacity 200ms;
    transition-delay     : 500ms;

    .logo__image {
      grid-column: 1/2;
      grid-row   : 1/3;
    }
  }

  .entry__title,
  .entry__description {
    grid-column: 2/3;
  }

  .entry__title {
    font-family            : var(--font-sans);
    font-size              : var(--type-size-5);
    font-variation-settings: 'wght'700;
    font-weight            : bold;
    line-height            : 1;
    margin                 : 0;
  }

  .entry__description {
    font-family: var(--font-sans);
    margin     : 0;
  }

  .dt-published,
  .p-author {
    display: none;
  }
}