<ul class="collection collection--related" data-empty="Wala pang post">
  {% set articles = pagination.items if pagination.items else collections.articles | reverse %}
  {% for article in articles | limit(limit) %}
    <li>
      {% include "ui/entry--article.njk" %}
    </li>
  {% endfor %}
</ul>