<ul class="collection collection--grid" data-empty="Wala pang infographics">
  {% set infographics = pagination.items if pagination.items else collections.infographics | reverse %}
  {% for article in infographics | limit(limit) %}
    <li>
      {% include "ui/entry--infographic.njk" %}
    </li>
  {% endfor %}
</ul>