<ul class="collection collection--related" data-empty="Wala pang videos">
  {% set videos = pagination.items if pagination.items else 
    collections.videos | reverse %}
  {% for video in videos | limit(limit) %}
    <li>
      {% include "ui/entry--video.njk" %}
    </li>
  {% endfor %}
</ul>