<footer class="footer">
  <section class="footer__header">
    <p>ⓒ {{ "" | year }} Antares Programming</p>
    <p>Powered by <a href="https://11ty.dev/" target="_blank">Eleventy</a> and <a href="https://vercel.com">Vercel</a>.</p>
  </section>
  <section class="footer__body">
    <section>
      <p href="/" class="logo">
        {{ logo('logo__image') }}
        <span class="logo__wordmark">Antares Programming</span>
        <span class="logo__motto">For Filipino developers</span>
      </p>
      <p>Ang Antares Programming ay project ni <a href="https://francisrub.io/" target="_blank">Francis Rubio</a>.</p>
      
      <img class="not-by-ai hide-on-dark" src="/assets/images/not-by-ai/black.png" alt="Content in this site is purely produced, written, and created by humans, not by artificial intelligence.">
      <img class="not-by-ai hide-on-light" src="/assets/images/not-by-ai/white.png" alt="Content in this site is purely produced, written, and created by humans, not by artificial intelligence.">
    </section>
    <section id="contact">
      <h2 class="section__heading">Contact Us</h2>
      <nav>
        <ul class="button-list">
          {% for key in site.contact | keys %}
          {% set item = site.contact[key] %}
            <li><a rel="me" href="{{ item.url }}" class="button" target="_blank">{{ item.name if item.name.length > 0 else key }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </section>
  </section>
</footer>

{% set domain = site.domains | selectattr('isPreferred') | first %}
<div class="h-card hidden">
  <span class="p-name">Antares Programming</span>
  <span class="p-nickname">antaresphdev</span>
  <div class="p-org">Antares Programming</div>
  <img alt="Francis Rubio" class="u-photo" src="https://ik.imagekit.io/antaresphdev/icon.png" loading="lazy"/>
  <a class="u-url" rel="me" href="{{ domain.value }}">{{ domain.value }}</a>,
  <a class="u-email" href="{{ site.contact.email.url }}">{{ site.contact.email.identifier }}</a>
  <div class="p-tel">{{ site.contact.phone.identifier }}</div>
  <span class="p-locality">Metro Manila</span>,
  <div class="p-country-name">Philippines</div>
  <time class="dt-bday">1999-01-13</time>
  <p class="p-note">
    For Filipino web developers.<br>
    Started in 2018 by <a href="{{ authors['teacherbuknoy'].url }}">{{ authors['teacherbuknoy'].name }}</a>.<br>
    Posting infographics, articles, and videos wherever it makes sense.
  </p>
  <img src="https://ik.imagekit.io/antaresphdev/cover.png?updatedAt=1719930532326" alt="Logo and the words “Simple. Bago. Lahat sa Filipino”. Includes our website and @antaresphdev as social media handle." class="u-featured" loading="lazy">
</div>