<a href="#after-nav" class="skip-link">Skip to content</a>
<nav class="navigation">
  <div class="navigation__start">
    <a href="/" class="logo">
      {{ logo('logo__image') }}
      <span class="logo__wordmark">Antares Programming</span>
    </a>
  </div>
  <div class="navigation__end">
    <ul class="navigation__list">
      {% for item in navigation %}
        <li class="navigation__list-item">
          {% if item.icon_label != nil %}
            <a href="{{ item.url }}" class="navigation__link icon-only">
              {{ icon(item.icon, item.icon_label) }}
            </a>
          {% else %}
            <a href="{{ item.url }}" class="navigation__link">
              {% if item.icon != null %}
                {{ icon(item.icon, item.text) }}
              {% endif %}
              <span class="label">{{ item.text }}</span>
            </a>
          {% endif %}
        </li>
      {% endfor %}
      <li class="navigation__list-item">
        <button class="navigation__link icon-only" onclick="document.getElementById('popover-rss').showModal()">
          {{ icon('rss', 'RSS feeds') }}
        </button>
        <dialog class="navigation" id="popover-rss" aria-labelledby="dialog-label-rss">
          <ul class="navigation__list">
            <li class="navigation__list-item">
              <span class="navigation__label" id="dialog-label-rss">Mga RSS Feed</span>
            </li>
            {% for key,item in site.feeds %}
              <li class="navigation__list-item">
                <a href="{{ item.link }}" class="navigation__link" {% if item.external %}
                  target="_blank" rel="noopener"
                {% endif %}>
                  {{ icon(item.icon, item.label) }}
                  <span class="label">{{ item.label }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </dialog>
      </li>
      <li class="navigation__list-item">
        <button class="navigation__link icon-only" onclick="document.getElementById('popover-color-scheme').showModal()">
          {{ icon('sun', 'Switch to light mode') }}
        </button>
        <dialog class="navigation" id="popover-color-scheme" aria-labelledby="dialog-label-colorscheme">
          <ul class="navigation__list">
            <li class="navigation__list-item">
              <span class="navigation__label" id="dialog-label-colorscheme">Pumili ng color scheme</span>
            </li>
            <li class="navigation__list-item">
              <button class="navigation__link" data-colorscheme="light">
                {{ icon('sun', "Light mode") }}
                <span class="label">Light</span>
              </button>
            </li>
            <li class="navigation__list-item">
              <button class="navigation__link" data-colorscheme="dark">
                {{ icon('moon', "Dark mode") }}
                <span class="label">Dark</span>
              </button>
            </li>
            <li class="navigation__list-item">
              <button class="navigation__link" data-colorscheme="system">
                {{ icon('cpu', "Follow system theme") }}
                <span class="label">Follow system theme</span>
              </button>
            </li>
          </ul>
        </dialog>
      </li>
    </ul>
  </div>
</nav>
<div id="after-nav"></div>