{% extends "./page.njk" %}
{% from "meta/utils.njk" import icon,
logo %}
{% set layoutStylesheets = ["post.css"] %}
{% block content %}
  <div class="decoration">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  {% include "ui/navigation.njk" %}
  <main class="infographic">
    <header class="header">
      <nav class="breadcrumb" aria-label="Breadcrumbs">
        <ol class="list">
          <li>
            <a class="link" href="/">Home</a>
          </li>
          <li>
            <a class="link" href="/infographics/">Infographics</a>
          </li>
          <li>
            <a class="link" href="./" aria-current="location">This demo</a>
          </li>
        </ol>
      </nav>
      <h1 class="title">{{ title | markdown | safe }}</h1>
      <p class="description">{{ description | markdown | safe }}</p>
      <div class="meta">
        <address class="byline">
          <img src="{{ authors[author].photo }}" alt="{{ authors[author].name }}" height="36" width="36">
          <p>by <a href="{{ authors[author].profile }}">{{ authors[author].name }}</a>
          </p>
        </address>
        <span class="separator" aria-hidden="true">/</span>
        <time datetime="{{ page.date | machineReadableDate }}">{{ page.date | humanReadableDate }}</time>
      </div>
    </header>
    <div class="content">
      {{ content  | safe }}
    </div>

    <div class="container">
      {% if resources %}
      <h2 class="h2">Resources</h2>

      <div class="link-grid">
        {% set shareCardHeadingLevel = 3 %}
        {% for url in resources %}
          {% setAsync "meta" %}{{ url | metatags | dump | safe }}{% endsetAsync %}
          {% set metadata = utils.jsonify(meta) %}
          {% include 'ui/social-share-card.njk' %}
        {% endfor %}
      {% endif %}
    </div>      
    </div>
    <footer class="footer">
      {% include "ui/downloads.njk" %}
      {% include "ui/share.njk" %}
      {% include "ui/related.njk" %}
    </footer>
  </main>
  {% include "ui/footer.njk" %}
{% endblock %}