{% extends "./page.njk" %}
{% from "meta/utils.njk" import icon, logo %}
{% block content %}
  <nav class="navigation">
    <div class="navigation__start">
      <div class="logo">
        {{ logo('logo__image') }}
        <span class="logo__wordmark">Antares Programming</span>
      </div>
    </div>
    <div class="navigation__end">
      <ul class="navigation__list">
        {% for item in navigation %}
          <li class="navigation__list-item">
            {% if item.icon_label != nil %}
              <a href="{{ item.url }}" class="navigation__link">
                {{ icon(item.icon) }}
                <span class="visually-hidden">{{ item.icon_label }}</span>
              </a>
            {% else %}
              <a href="{{ item.url }}" class="navigation__link">{{ item.text }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
{% endblock %}