<!DOCTYPE html>
<html lang="{{ lang }}">
  {% include "meta/head.njk" %}
  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% include "meta/scripts.njk" %}
    {% block scripts %}{% endblock %}
  </body>
</html>