<!DOCTYPE html>
<html lang="{{ lang if lang else 'tl' }}">
  {% include "meta/head.njk" %}
  <body class="system">
    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% include "meta/scripts.njk" %}
    {% block scripts %}{% endblock %}
    <div class="notification-container" aria-live="polite" role="log" data-notification-container>
      <template>
        <div class="toast success" hidden="true">
          <svg class="feathericon feather">
            <use href="/assets/images/feather-sprite.svg#check-circle"></use>
          </svg>
          <span class="toast__title">This is a toast</span>
          <span class="toast__message">We're just trying to display a toast. That's all.</span>
        </div>
      </template>
    </div>
  </body>
</html>