{% extends "./page.njk" %}
{% from "meta/utils.njk" import icon,logo %}
{% set layoutStylesheets = [
  "post.css"
] %}
{% block content %}
  <div class="decoration">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  {% include "ui/navigation.njk" %}
  <main class="post h-entry" aria-labelledby="post-title">
    <header class="header">
      <nav class="breadcrumb" aria-label="Breadcrumbs">
        <ol>
          <li>
            <a class="link" href="/">Home</a>
          </li>
          <li>
            <a class="link" href="/articles/">Articles</a>
          </li>
          <li>
            <a class="link" href="./" aria-current="location">This post</a>
          </li>
        </ol>
      </nav>
      <h1 id="post-title" class="title">{{ title | markdown | safe }}</h1>
      <p class="description">{{ description | markdown | safe }}</p>
      <div class="meta">
        <a href="{{ page.url }}" hidden="hidden" class="u-url">Canonical URL</a>
        {% for link in syndication %}
          <a href="{{ link }}" rel="syndication" class="u-syndication" hidden>{{ link }}</a>
        {% endfor %}
        <address class="byline p-author h-card">
          <img src="{{ authors[author].photo }}" alt="{{ authors[author].name }}" height="36" width="36">
          <p>by <a rel="author" href="{{ authors[author].profile }}">{{ authors[author].name }}</a>
          </p>
        </address>
        <span class="separator" aria-hidden="true">/</span>
        <time class="dt-published" datetime="{{ page.date | machineReadableDate }}">{{ page.date | humanReadableDate }}</time>
      </div>
    </header>
    <div class="content e-content">
      {{ content | safe }}
    </div>
    <footer class="footer">
      {% include "ui/share.njk" %}
    </footer>
  </main>
  {% include "ui/footer.njk" %}
{% endblock %}