{% extends "./main.njk" %}
{% from "meta/utils.njk" import icon,
logo %}
{% set layoutStylesheets = ['video-entry.css'] %}
{% block content %}
  <div class="with-sidebar" style="--sidebar-gap: 0;">
    {% include "ui/video-player.njk" %}
    <aside class="sidebar padding">
      <nav class="video-list">
        <h2 class="font-sans uppercase fs-6 weight-700">Other videos</h2>
        <ul>
          {% set currentSlug = title | slugify %}
          {% for video in collections.shorts %}
            {% set slug = video.data.title | slugify %}
            {% set currentVideo = slug === currentSlug %}
            {% if not currentVideo %}
              <li>
                {% include "ui/entry--video.njk" %}
              </li>
            {% endif %}
          {% endfor %}
          {% for video in collections.videos %}
            {% set slug = video.data.title | slugify %}
            {% set currentVideo = slug === currentSlug %}
            {% if not currentVideo %}
              <li>
                {% include "ui/entry--video.njk" %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </aside>
  </div>
  {% include "ui/navigation.njk" %}
  {% include "ui/footer.njk" %}
{% endblock %}