{% extends "./main.njk" %}
{% from "meta/utils.njk" import icon,
logo %}
{% set layoutStylesheets = ['video-entry.css'] %}
{% block content %}
  <div class="with-sidebar" style="--sidebar-gap: 0;">
    {% if video.provider == null or video.provider == 'html' %}
      {% include "ui/video-player.njk" %}
    {% elif video.provider == 'cdn' %}
      {% include "ui/video-player-cdn.njk" %}
    {% else %}
      {% include "ui/video-embed.njk" %}
    {% endif %}
    <aside class="sidebar padding">
      <nav class="video-list">
        <h2 class="font-sans uppercase fs-6 weight-700">Other videos</h2>
        <ul>
          {% set currentSlug = title | slugify %}
          {% for video in collections.shorts %}
            {% set slug = video.data.title | slugify %}
            {% set currentVideo = slug === currentSlug %}
            {% if not currentVideo %}
              <li>
                {% include "ui/entry--video.njk" %}
              </li>
            {% endif %}
          {% endfor %}
          {% for video in collections.videos %}
            {% set slug = video.data.title | slugify %}
            {% set currentVideo = slug === currentSlug %}
            {% if not currentVideo %}
              <li>
                {% include "ui/entry--video.njk" %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </aside>
  </div>

  <footer class="content-wrapper margin--auto text-center margin-block--xxxl padding-block-end--xxxl">
    <h2 class="fs-4 weight-700 font-sans m-block-end--none">Natuwa ka ba sa video na ito?</h2>
    <p class="font-sans m-block-start--none m-block-end--xl">Puwede kang mag-donate para makagawa pa kami ng mas maraming videos gaya nito.</p>

    <ul class="button-list">
      <li>
        <a href="/donate/" class="primary button">
          {{ "dollar-sign" | icon | safe }}
          <span>Mag-donate</span>
        </a>
      </li>
      <li>
        <a href="#contact" class="button">
          {{ "tiktok" | icon | safe }}
          <span>I-follow kami sa Tiktok</span>
        </a>
      </li>
      <li>
        <a href="#contact" class="button">
          {{ "youtube" | icon | safe }}
          <span>Mag-subscribe sa YouTube</span>
        </a>
      </li>
    </ul>
  </footer>

  {% include "ui/navigation.njk" %}
  {% include "ui/footer.njk" %}
{% endblock %}