---
slug: content
version: v1
---
{% set postTypes = ['articles', 'media', 'infographics'] %}
{
  {% for type in postTypes %}
    "{{ type }}": [
      {% for post in collections[type] %}
      {% set article = post.data %}
        {
          "date": "{{ post.date | dateToRfc3339 }}",
          "title": "{{ article.title }}",
          "description": "{{ article.description }}",
          "tags": [
            {% for tag in article.tags %}"{{ tag }}"{{ ',' if not loop.last }}{% endfor %}
          ],
          "url": "{{ post.url }}"
        }{{ ',' if not loop.last }}
      {% endfor %}
    ]{{ ',' if not loop.last }}
  {% endfor %}
}