---
title: 'Wala rito ang hinahanap mo - Antares Programming'
permalink: /404.html
---

<section class="jumbotron">
  <h1 class="jumbotron__title">Wala rito ang hinahanap mo</h1>
  <h2 class="font-sans">Puwedeng isa sa mga ito ang dahilan:</h2>
  <ul>
    <li>Baka hindi pa naa-add sa website na ito ang page na gusto mong puntahan</li>
    <li>Baka tinanggal na</li>
    <li>Baka mali ang <abbr title="Uniform Resource Locator">URL</abbr> na pinupuntahan mo.</li>
  </ul>

  <h2 class="font-sans">Mga puwede mong gawin:</h2>
  <nav>
    <ul class="button-list">
      <li><a href="/" class="primary button">Bumalik sa frontpage</a></li>
      <li><a class="button" href="#contact">I-follow kami sa social media</a></li>
    </ul>
  </nav>
</section>