---
title: 'Antares Programming'
permalink: /
---
{% from "meta/utils.njk" import logo,
icon %}
<section class="section" aria-labelledby="heading-latest-videos">
  <div class="section__header">
    <h2 id="heading-latest-videos" class="section__heading">Latest Videos</h2>
    <a href="{{ site.contact.youtube.url }}" target="_blank" class="button">
      {{ icon('youtube') }}
      <span>Tingnan Lahat</span>
    </a>
  </div>
  {% set limit = 3 %}
  {% set videoType = 'full' %}
  {% include "ui/collections--videos.njk" %}
</section>

<section class="section" aria-labelledby="heading-maikling-video">
  <div class="section__header">
    <h2 id="heading-maikling-video" class="section__heading">Mga Maikling Video</h2>
    <a href="{{ site.contact.tiktok.url }}" target="_blank" class="button">
      {{ icon('tiktok') }}
      <span>Tingnan Lahat</span>
    </a>
  </div>
  {% set limit = 3 %}
  {% set videoType = 'short' %}
  {% include "ui/collections--shorts.njk" %}
</section>

<section class="section" aria-labelledby="heading-infographics">
  <div class="section__header">
    <h2 id="heading-infographics" class="section__heading">Mga Infographics</h2>
    <a href="/infographics/" class="button">Tingnan Lahat</a>
  </div>
  {% set limit = 3 %}
  {% include "ui/collections--infographics.njk" %}
</section>

<section class="section" aria-labelledby="heading-articles">
  <div class="section__header">
    <h2 id="heading-articles" class="section__heading">Mga Article</h2>
    <a href="/articles/" class="button">Tingnan Lahat</a>
  </div>
  {% set limit = 3 %}
  {% include "ui/collections--articles.njk" %}
</section>

<address class="h-card hidden">
  <a href="https://antaresph.dev" class="p-name p-org u-url">Antares Programming</a>
  <a href="{{ site.contact.email.url }}" class="u-email" rel="me">{{ site.contact.email.identifier }}</a>
  <img src="/assets/images/logo.svg" alt="Antares Programming" class="u-logo u-photo">
  <p class="p-note">For Filipino web developers. Posting infographics, articles, and videos in Filipino wherever it makes sense.</p>
  <ul class="button-list">
    {% for key in site.contact | keys %}
      {% set item = site.contact[key] %}
      <li>
        <a rel="me" href="{{ item.url }}" class="hidden u-url u-uid" target="_blank">{{ item.name if item.name.length > 0 else key }}</a>
      </li>
    {% endfor %}
  </ul>
</address>