---
title: 'Antares Programming'
permalink: /
---
{% from "meta/utils.njk" import logo %}
<section class="section" aria-labelledby="heading-latest-videos">
  <div class="section__header">
    <h2 id="heading-latest-videos" class="section__heading">Latest Videos</h2>
    <a href="/videos/" class="button">Tingnan Lahat</a>
  </div>
  <ul class="collection collection--grid" data-empty="Wala pang videos"></ul>
</section>

<section class="section" aria-labelledby="heading-maikling-video">
  <div class="section__header">
    <h2 id="heading-maikling-video" class="section__heading">Mga Maikling Video</h2>
    <a href="/videos/#short" class="button">Tingnan Lahat</a>
  </div>
  <ul class="collection collection--grid" data-empty="Wala pang videos"></ul>
</section>

<section class="section" aria-labelledby="heading-infographics">
  <div class="section__header">
    <h2 id="heading-infographics" class="section__heading">Mga Infographics</h2>
    <a href="/infographics/" class="button">Tingnan Lahat</a>
  </div>
  <ul class="collection collection--grid" data-empty="Wala pang infographics"></ul>
</section>

<section class="section" aria-labelledby="heading-articles">
  <div class="section__header">
    <h2 id="heading-articles" class="section__heading">Mga Article</h2>
    <a href="/articles/" class="button">Tingnan Lahat</a>
  </div>
  <ul class="collection collection--grid" data-empty="Wala pang post"></ul>
</section>

<footer class="footer">
  <section class="footer__header">
    <p>ⓒ {{ "" | year }} Antares Programming</p>
    <p>Powered by <a href="https://11ty.dev/" target="_blank">Eleventy</a> and <a href="https://vercel.com">Vercel</a>.</p>
  </section>
  <section class="footer__body">
    <section>
      <p href="/" class="logo">
        {{ logo('logo__image') }}
        <span class="logo__wordmark">Antares Programming</span>
        <span class="logo__motto">For Filipino developers</span>
      </p>
      <p>Ang Antares Programming ay project ni <a href="https://francisrub.io/" target="_blank">Francis Rubio</a>.</p>
    </section>
    <section>
      <h2 class="section__heading">Contact Us</h2>
      <nav>
        <ul class="button-list">
          {% for key in site.contact | keys %}
          {% set item = site.contact[key] %}
            <li><a href="{{ item.url }}" class="button" target="_blank">{{ item.name if item.name.length > 0 else key }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </section>
  </section>
</footer>