---
title: 'Antares Programming'
permalink: /
---
{% from "meta/utils.njk" import logo,
icon %}

<section class="section" aria-labelledby="heading-infographics">
  <div class="section__header">
    <h2 id="heading-infographics" class="section__heading">Mga Infographics</h2>
    <a href="/infographics/" class="button">
      {{ icon('image') }}
      <span>Tingnan Lahat</span>
    </a>
  </div>
  {% set limit = 3 %}
  {% include "ui/collections--infographics.njk" %}
</section>

<section class="section" aria-labelledby="heading-maikling-video">
  <div class="section__header">
    <h2 id="heading-maikling-video" class="section__heading">Mga Maikling Video</h2>
    <a href="/shorts/" target="_blank" class="button">
      {{ icon('video') }}
      <span>Tingnan Lahat</span>
    </a>
  </div>
  {% set limit = 3 %}
  {% set videoType = 'short' %}
  {% include "ui/collections--shorts.njk" %}
</section>

<section class="section" aria-labelledby="heading-latest-videos">
  <div class="section__header">
    <h2 id="heading-latest-videos" class="section__heading">Latest Videos</h2>
    <a href="/videos/" target="_blank" class="button">
      {{ icon('film') }}
      <span>Tingnan Lahat</span>
    </a>
  </div>
  {% set limit = 3 %}
  {% set videoType = 'full' %}
  {% include "ui/collections--videos.njk" %}
</section>

<section class="section" aria-labelledby="heading-articles">
  <div class="section__header">
    <h2 id="heading-articles" class="section__heading">Mga Article</h2>
    <a href="/articles/" class="button">
      {{ icon('book-open') }}
      <span>Tingnan Lahat</span>
    </a>
  </div>
  {% set limit = 3 %}
  {% include "ui/collections--articles.njk" %}
</section>


<footer class="content-wrapper margin--auto text-center margin-block--xxxl padding-block-end--xxxl">
  <h2 class="fs-4 weight-700 font-sans m-block-end--none">Natuwa ka ba sa project na ito?</h2>
  <p class="font-sans m-block-start--none m-block-end--xl">I-follow ang Antares Programming sa social media, o mag-donate para makagawa pa kami ng content na gaya nito</p>

  <ul class="button-list">
    <li>
      <a href="/donate/" class="primary button">
        {{ "dollar-sign" | icon | safe }}
        <span>Mag-donate</span>
      </a>
    </li>
    <li>
      <a href="#contact" class="button">
        {{ "user-plus" | icon | safe }}
        <span>I-follow kami online</span>
      </a>
    </li>
  </ul>
</footer>