---
title: 'Infographics - Antares Programming'
permalink: /infographics/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
eleventyImport: 
  collections: ['infographics']
pagination:
  data: collections.infographics
  size: 9
  reverse: true
---

<section class="section section--wide">
  <h1 class="section__heading">Mga Infographics</h1>
  {% include "ui/collections--infographics.njk" %}

  <nav class="d-flex jc--center">
    <ul class="button-list">
      {% if pagination.href.previous %}
        <li>
          <a href="{{ pagination.href.previous }}" class="button">Previous</a>
        </li>
      {% endif %}
      {% if pagination.href.next %}
        <li>
          <a href="{{ pagination.href.next }}" class="button">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</section>