---
title: 'Infographics - Antares Programming'
permalink: /infographics/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
eleventyImport: 
  collections: ['infographics']
pagination:
  data: collections.infographics
  size: 9
  reverse: true
---

<section class="section section--wide">
  <h1 class="section__heading">Mga Infographics</h1>
  {% include "ui/collections--infographics.njk" %}

  <nav class="d-flex jc--center">
    <ul class="button-list">
      {% if pagination.href.previous %}
        <li>
          <a href="{{ pagination.href.previous }}" class="button">Previous</a>
        </li>
      {% endif %}
      {% if pagination.href.next %}
        <li>
          <a href="{{ pagination.href.next }}" class="button">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</section>

<footer class="content-wrapper margin--auto text-center margin-block--xxxl padding-block-end--xxxl">
  <h2 class="fs-4 weight-700 font-sans m-block-end--none">Natuwa ka ba sa mga infographics na ito?</h2>
  <p class="font-sans m-block-start--none m-block-end--xl">I-follow ang Antares Programming sa social media, o i-download ang lahat ng iba pang infographics.</p>

  <ul class="button-list">
    <li>
      <a href="/donate/" class="primary button" target="blank" rel="noopener">
        {{ "dollar-sign" | icon | safe }}
        <span>Mag-donate</span>
      </a>
    </li>
    <li>
      <a href="#contact" class="button">
        {{ "user-plus" | icon | safe }}
        <span>I-follow kami online</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/antaresphdev/infographics/releases" class="button">
        {{ "download" | icon | safe }}
        <span>I-download ang iba pang infographics</span>
      </a>
    </li>
  </ul>
</footer>