---
title: 'Antares Programming'
permalink: /links/
---
<section class="section section--wide">
  <h1 class="section__heading">Mga Link</h1>
  <div class="collection collection--grid">
    {% for link in links %}
      <a href="{{ link.url }}" target="_blank" rel="noopener" class="no-arrow">
        <span class="sr-only">{{ link.title }}</span>
        {% set article = link %}
        {% set container = "videos" %}
        {% set sizes = article.cover.sizes %}
        {% set formats = article.cover.formats %}
        {% set folder = article.cover.folder %}
        {% set filename = article.cover.filename %}
        {% set defaultImageClass = "" %}
        {% set alt = "" %}
        {% set width = article.cover.width if article.cover.width else 
          1280 %}
        {% set height = article.cover.height if article.cover.height else 
          1012 %}
        {% include "ui/picture.njk" %}
      </a>
    {% endfor %}
  </div>
</section>