---
title: 'Videos - Antares Programming'
permalink: /videos/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
eleventyImport: 
  collections: ['videos']
pagination:
  data: collections.videos
  size: 9
  reverse: true
---

<section class="section section--wide">
  <h1 class="section__heading">Mga Video</h1>
  {% include "ui/collections--videos.njk" %}

  <nav class="d-flex jc--center">
    <ul class="button-list">
      {% if pagination.href.previous %}
        <li>
          <a href="{{ pagination.href.previous }}" class="button">Previous</a>
        </li>
      {% endif %}
      {% if pagination.href.next %}
        <li>
          <a href="{{ pagination.href.next }}" class="button">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</section>

<footer class="content-wrapper margin--auto text-center margin-block--xxxl padding-block-end--xxxl">
  <h2 class="fs-4 weight-700 font-sans m-block-end--none">Nakatulong ba sa iyo ang videos dito?</h2>
  <p class="font-sans m-block-start--none m-block-end--xl">I-follow ang Antares Programming sa Tiktok, o mag-donate para makagawa pa kami ng content na gaya nito</p>

  <ul class="button-list">
    <li>
      <a href="/donate/" class="primary button">
        {{ "dollar-sign" | icon | safe }}
        <span>Mag-donate</span>
      </a>
    </li>
    <li>
      <a href="{{ site.contact.tiktok.url }}" class="button">
        {{ "youtube" | icon | safe }}
        <span>I-follow kami sa Youtube</span>
      </a>
    </li>
  </ul>
</footer>