---
layout: page.njk
pagination:
  data: collections.media
  size: 1
  alias: shorts
  reverse: true
stylesheets:
  - video-entry.css
permalink: /player/{{ pagination.items[0].data.title | slugify }}/index.html
---
{% from "meta/utils.njk" import icon,logo %}
{% for item in pagination.items %}
{% set video = item.data.video %}
{% set cover = item.data.cover %}
{% set type = item.data.type %}
{% set syndication = item.data.syndication %}
{% set title = item.data.title %}
{% set description = item.data.description %}
{% set author = item.data.author %}
{% set page = item %}
<article class="entry--video h-entry {{ type }} standalone-video-player" aria-labelledby="post-title">
  {% set folder = video.folder if video.folder else cover.folder %}
  <a href="{{ page.url }}" class="u-url"></a>
  {% if video.provider == null or video.provider == 'html' %}
    <video
      crossorigin
      lang="{{ video.lang if video.lang else 'tl' }}"
      class="video-player u-video e-content" controls
      width="{{ 1080 if type === 'short' else 1920 }}"
      height="{{ 1920 if type === 'short' else 1080 }}"
    >
      {% if video.captions %}
      {% for caption in video.captions %}
      <track
        {{ 'default' if caption.isDefault }}
        kind="captions"
        label="{{ caption.label }}"
        src="{{ caption.src }}"
        srclang="{{ caption.lang if caption.lang else 'tl' }}"
      >
      {% endfor %}
      {% endif %}
      <source type="video/webm" src="{{ site.api.images }}/tr:f-webm/videos/{{ folder }}/{{ video.filename }}">
      <source type="video/mp4" src="{{ site.api.images }}/tr:f-mp4/videos/{{ folder }}/{{ video.filename }}">
    </video>
  {% elif video.provider === 'dailymotion' %}
    <iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/{{ video.embedCode }}?autoplay=1" width="100%" height="100%" allowfullscreen title="{{ video.title }}" allow="autoplay; web-share"></iframe>
  {% elif video.provider === 'bunny' %}
    <iframe
      src="https://iframe.mediadelivery.net/embed/{{ site.api.video.libraryId }}/{{ video.embedCode }}?autoplay=true&loop=true&muted=false&preload=true&responsive=false"
      loading="lazy" style="border:0;position:absolute;top:0;height:100%;width:100%;"
      allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
      allowfullscreen="true"></iframe>
  {% elif video.provider === 'youtube' %}
    <iframe class="video-player" width="916" height="515" src="https://www.youtube.com/embed/{{ video.embedCode }}" title="{{ video.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
  {% endif %}
  <div class="entry__meta" style="opacity: 0; pointer-events: none;">
    {{ logo('logo__image') }}
    <h1 class="entry__title p-name">{{ title | safe }}</h1>
    <p class="entry__description p-summary">{{ description | safe }}</p>
    <a href="{{ authors[author].url }}" rel="author" class="p-author h-card">{{ authors[author].name }}</a>
    <time datetime="{{ page.date | machineReadableDate }}" class="dt-published">{{ page.date | humanReadableDate }}</time>
  </div>
</article>
{% endfor %}