@layer layouts {
  @import "layouts/sidebar";
  @import "layouts/video-entry";
}

@layer components {
  @import "components/video-list";
}

body:has(.standalone-video-player) {
  background: #000;
}

.standalone-video-player video {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}